<div class="container mt-3 mb-3">
  <lib-today-date></lib-today-date>
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h2>Get a clear view of the day ahead</h2>
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <p>All your tasks that are due today will show up here.</p>
          <div class="row justify-content-md-center">
            <div class="col-md-auto">
              <lib-home-page-add-task></lib-home-page-add-task>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <lib-three-pictures-in-arow></lib-three-pictures-in-arow>
</div>
