/* You can add global styles to this file, and also import other style files */
.bg-navbar {  
  background-color: #7749f8;
}

.navbar-text {

  position: relative;
  left: 5x;
  height: 28px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  color: white;
  
  
}
